{% extends "@Layout/Page/Default/base.html.twig" %}

{% block title %}{{ parent() }}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="row p-5 m-0">
        <div class="col-4">
            <a href="{{ path('app_home_home_index') }}"><i class="fa fa-arrow-left fa-2x"></i></a>
        </div>
        <div class="col-4">
            <img id="logo" src="{{ asset('assets/img/SupFile_Blanc.svg') }}">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin" id="register">
                {% if error %}
                    <div class="form-group">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <input type="text" class="form-control" id="lemail" name="_username" placeholder="Username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="lpassword" name="_password" required="required" placeholder="Password"/>
                </div>
                <div class="submitb">
                    <button type="submit" class="btn btn-primary" id="submitb" name="_submit">Login</button>
                </div>
                <div class="facebooklogin">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook_owners'}) }}" type="button" class="btn btn-secondary btn-facebooklogin"><i class="fab fa-facebook-square fa-lg"></i>Login with Facebook</a>
                </div>
                <div class="googlelogin">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google_owners'}) }}" type="button" class="btn btn-secondary btn-googlelogin"><i class="fab fa-google fa-lg"></i>Login with Google</a>
                </div>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
{% endblock body %}